<a href="https://colab.research.google.com/github/alexandramendoza/beginning-bioinformatics/blob/main/notebooks/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Rosalind #1

In [3]:
a = 828
b = 891
c = a**2 + b**2

print (c)

1479465

Task P6.2

In [8]:
a = int(input ("Enter value for a: "))
b = int(input ("Enter value for b: "))
c = a**2 + b**2
print("The square of the hypotenuse is ",c)

Enter value for a: 3
Enter value for b: 5
The square of the hypotenuse is  34
Enter value for a: 828
Enter value for b: 891
The square of the hypotenuse is  1479465

Task P7.1

In [9]:
# Create a list with 3 elements and then print them

my_list = ["Hello", "World", "Charles Darwin"]
print(my_list[1])

World

Task P7.2

In [10]:
# Substitute the item at index 2 in the list
my_list[2] = "Alfred R. Wallace"
print (my_list)

['Hello', 'World', 'Alfred R. Wallace']

Task P7.3

In [12]:
# Insert an item at a specific index in the list
my_list.insert(0, "New Item")
print (my_list)

['New Item', 'Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

Task P8.1

In [13]:
# Slice
print (my_list[2:4])

['World', 'Alfred R. Wallace']

In [14]:
my_string = "HelloWorldCharlesDarwinAlfred R. Wallace"
print (my_string[0:5], my_string[5:10])

Hello World

Task P8.2

In [17]:
print (my_string[33:40], my_string[5:10])

Wallace World

TASK 8.3 Rosalind #2 code

In [19]:
# Sample Dataset
my_string = "HumptyDumptysatonawallHumptyDumptyhadagreatfallAlltheKingshorsesandalltheKingsmenCouldntputHumptyDumptyinhisplaceagain"
a = int(input ("Enter value for a: "))
b = int(input ("Enter value for b: "))
c = int(input ("Enter value for c: "))
d = int(input ("Enter value for d: "))
print (my_string [a:(b+1)], my_string [c:(d+1)])

Enter value for a: 22
Enter value for b: 27
Enter value for c: 97
Enter value for d: 102
Humpty Dumpty

In [21]:
my_string = "AvcBsNJSX3jJqgmiLjNinoxeHSc47dxHM7mqYxVxnWlsanexydUKTsojSkn7zlKo5hgCzbYsppRoUwXcd8BCjwf00lyVqWvR0E9aVmwrLVhMEVlJKa9jq5fqcj1qk03vRTxfbq4unbjSvEWnh89tiUoYTFWWDFMdpaestivusMA479k9cimuQ4H1v1M26HJEDy9kOH"
a = int(input ("Enter value for a: "))
b = int(input ("Enter value for b: "))
c = int(input ("Enter value for c: "))
d = int(input ("Enter value for d: "))
print (my_string [a:(b+1)], my_string [c:(d+1)])

Enter value for a: 18
Enter value for b: 22
Enter value for c: 161
Enter value for d: 168
Ninox aestivus