<a href="https://colab.research.google.com/github/alexandramendoza/beginning-bioinformatics/blob/main/notebooks/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Rosalind #1

In [ ]:
a = 828
b = 891
c = a**2 + b**2

print (c)

1479465

Task P6.2

In [ ]:
a = int(input ("Enter value for a: "))
b = int(input ("Enter value for b: "))
c = a**2 + b**2
print("The square of the hypotenuse is ",c)

Enter value for a: 3
Enter value for b: 5
The square of the hypotenuse is  34
Enter value for a: 828
Enter value for b: 891
The square of the hypotenuse is  1479465

Task P7.1

In [ ]:
# Create a list with 3 elements and then print them

my_list = ["Hello", "World", "Charles Darwin"]
print(my_list[1])

World

Task P7.2

In [ ]:
# Substitute the item at index 2 in the list
my_list[2] = "Alfred R. Wallace"
print (my_list)

['Hello', 'World', 'Alfred R. Wallace']

Task P7.3

In [ ]:
# Insert an item at a specific index in the list
my_list.insert(0, "New Item")
print (my_list)

['New Item', 'Hello', 'World', 'Alfred R. Wallace', 'Charles Darwin']

Task P8.1

In [ ]:
# Slice
print (my_list[2:4])

['World', 'Alfred R. Wallace']

In [ ]:
my_string = "HelloWorldCharlesDarwinAlfred R. Wallace"
print (my_string[0:5], my_string[5:10])

Hello World

Task P8.2

In [ ]:
print (my_string[33:40], my_string[5:10])

Wallace World

TASK 8.3 Rosalind #2 code

In [ ]:
# Sample Dataset
my_string = "HumptyDumptysatonawallHumptyDumptyhadagreatfallAlltheKingshorsesandalltheKingsmenCouldntputHumptyDumptyinhisplaceagain"
a = int(input ("Enter value for a: "))
b = int(input ("Enter value for b: "))
c = int(input ("Enter value for c: "))
d = int(input ("Enter value for d: "))
print (my_string [a:(b+1)], my_string [c:(d+1)])

Enter value for a: 22
Enter value for b: 27
Enter value for c: 97
Enter value for d: 102
Humpty Dumpty

In [ ]:
my_string = "AvcBsNJSX3jJqgmiLjNinoxeHSc47dxHM7mqYxVxnWlsanexydUKTsojSkn7zlKo5hgCzbYsppRoUwXcd8BCjwf00lyVqWvR0E9aVmwrLVhMEVlJKa9jq5fqcj1qk03vRTxfbq4unbjSvEWnh89tiUoYTFWWDFMdpaestivusMA479k9cimuQ4H1v1M26HJEDy9kOH"
a = int(input ("Enter value for a: "))
b = int(input ("Enter value for b: "))
c = int(input ("Enter value for c: "))
d = int(input ("Enter value for d: "))
print (my_string [a:(b+1)], my_string [c:(d+1)])

Enter value for a: 18
Enter value for b: 22
Enter value for c: 161
Enter value for d: 168
Ninox aestivus

# P9 if and else

TASK P9.1

In [ ]:
a=5
b=5

if a!=b:
  print (a-b)

else:
  print (a+b)

10

# P10 while Loops

TASK 10.1

In [1]:
#initiate a counter
a = 1
#print "Counting!" while a<=3
while a <= 3:

  print ("Counting!" * a)
  a += 1

Counting!
Counting!Counting!
Counting!Counting!Counting!

# P11 for Loops

TASK P11.1

In [2]:
names = ["Alice", "Bob", "Charley"] #create list

for name in names:
  print ("Hello", name)

Hello Alice
Hello Bob
Hello Charley

# P12 for loops over a range() of numbers

In [ ]:
TASK 12.1

In [3]:
# Create a variable to define the number of iterations
iterations = 10

# Print the current item's value each time through the loop
for number in range(iterations):
  print (number)

0
1
2
3
4
5
6
7
8
9

TASK P12.2

In [5]:
for number in range(9,28,3):    #range (start value, stop value, step size)
  print (number)

9
12
15
18
21
24
27

TASK P12.3 Rosalind #3

In [13]:
a = int (input ("Enter value for a: "))
b = int (input ("Enter value for b: "))

total_sum = 0 # Initialize a variable to store the sum

if a % 2 == 1:
  for number in range(a,b+1,2):
    total_sum += number # Add each number to the total sum

else:
  for number in range(a+1,b+1,2):
    total_sum += number # Add each number to the total sum

print ("The sum of the integers in the range is:", total_sum) # Print the total sum

Enter value for a: 4285
Enter value for b: 8546
The sum of the integers in the range is: 13670365